<main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <nav aria-label="breadcrumb" class="breadcrumb-style1">
        <div class="container">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Post</li>
            </ol>
        </div>
    </nav>
    <!--== End Page Header Area Wrapper ==-->
    <!--== Start Product Area Wrapper ==-->
    <section class="section-space pb-0">
        <div class="container">
               <div class="blog-detail" id="tbody_post_view"></div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->

</main>
<script src="~/js/post_view.js" asp-append-version="true"></script>
